<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>About 밍송맹송</title>

    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/4831ef2746.js" crossorigin="anonymous"></script>
    <link href="{% static 'single_pages/css/about_me.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

{% include 'blog/navbar.html' %}
<section>
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-8">
          <h1>동아대 밍송맹송입니다</h1>
          <br/>
          <p class="lead">
              악기 다루는 것을 좋아해요<br/>
              뭘로 돈 벌지는 모르겠지만, 금융공기업에 가고 싶어요
          </p>

          <ul>
              <li>WORK EXPERIENCE</li>
              <ul>
                  <li>한국거래소 - Futurestar (2022.08~)</li>
                  <li>대학청소년교육사업 (2020.07 ~ 2022.08)</li>
              </ul>
              <li>EDUCATION</li>
              <ul>
                  <li>아직 고졸인데요, 그래도 적어볼게요</li>
                  <li>경영학 학사(Business management), 동아대학교(Donga University)</li>
                  <li>행정학 학사(Public administraion), 동아대학교(Donga University)</li>
              </ul>
              <li>PUBLISH</li>
              <ul>
                  <li>DO IT DJANGO, 디지털 스마트 아카데미 (2022)</li>
                  <li>부증련 신문스크랩 대회, 한국경제신문 (2022)</li>
              </ul>
          </ul>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid" src="{% static 'single_pages/images/itsme.jpg' %}">
        </div>
      </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>PORTFOLIO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#포트폴리오">
                    <img class="card-img-top" src="{% static 'single_pages/images/포트폴리오.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">시황에 적합한 금융상품 포트폴리오 구성하기 [금투협 주관 2021]</h5>
                        <p>금융투자협회에서 가상고객의 포트폴리오에 대해 발표하였습니다.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#기업분석 대회">
                    <img class="card-img-top" src="{% static 'single_pages/images/기업분석.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">기업과 산업전망에 대해 분석하고 가치평가하기 [부증련 주관 2022]</h5>
                        <p>1점 차이로 예선탈락햇서요. 다시는 안나갈거에여.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#BIFC KRX futurestar">
                    <img class="card-img-top" src="{% static 'single_pages/images/bifc 내가고른거.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">금융 파생상품 홍보콘텐츠 제작하기 [한국거래소 주관 2022]</h5>
                        <p>안하고 싶어요</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="fixed-bottom">


{% include 'blog/footer.html' %}
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>


</body>
</html>